# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.hcl

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Other
crash.log
.idea
